h2{
    color: blueviolet;
    text-align: center;
}
p{
    background-color: aquamarine;
    background-size: auto;
}
div{
    background-color: aqua;
    border: 10px solid grey;
    border-color: blueviolet;
    border-radius: 40px;
    border-style: double;
    margin: 40px;
    padding: 20px 20px 20px 20px ;

    
}