h2{
    color: blueviolet;
    text-align: center;
    border: 5px solid black;
    border-width: 5px;
    border-color: rgb(14, 163, 201);
    border-radius: 10px;

}
p{
    background-color: aquamarine;
    background-size: auto;
}
div{
    background-color: aqua;
    border: 10px solid grey;
    border-color: blueviolet;
    border-radius: 40px;
    border-style: double;
    margin: 40px;
    padding: 20px 20px 20px 20px ;

    
}